# ================================================
#       Intel Visual Fortran Git Ignore File
# ================================================
# 内容記載後は以下設定で保存
#   文字コード ⇒ UTF-8
#   改行コード ⇒ CL+LF
#   BOM        ⇒ 無
# ================================================

# ユーザー定義ファイル
*.suo
*.user

# Build関連
x64/
x86/
[Dd]ebug/
[Rr]elease/

# その他
*.u2d
*.pdb
